project.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:simpleType name="titleGlobal">
    <xs:restriction base="xs:string">
      <xs:minLength value="2"/>
      <xs:maxLength value="50"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="paragraphGlobal">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="500"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="shortTextGlobal">
    <xs:restriction base="xs:string">
      <xs:minLength value="1"/>
      <xs:maxLength value="100"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="urlGlobal">
    <xs:restriction base="xs:string">
      <xs:pattern value="https?://.+"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="studentIdGlobal">
    <xs:restriction base="xs:string">
      <xs:pattern value="s[0-9]{6}"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:simpleType name="groupGlobal">
    <xs:restriction base="xs:string">
      <xs:pattern value="[1-9][ABC]"/>
      <xs:length value="2"/>
    </xs:restriction>
  </xs:simpleType>

  <xs:complexType name="authorGlobal">
    <xs:sequence>
      <xs:element name="name" type="xs:string"/>
      <xs:element name="surname" type="xs:string"/>
      <xs:element name="student_id" type="studentIdGlobal"/>
      <xs:element name="group" type="groupGlobal"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="programGlobal">
    <xs:extension base="xs:string">
      <xs:attribute name="name" type="xs:string" use="optional"/>
      <xs:attribute name="years" type="xs:string" use="optional"/>
      <xs:attribute name="review" type="xs:string" use="optional"/>
    </xs:extension>
  </xs:complexType>

  <xs:complexType name="imageGlobal">
    <xs:attribute name="id" type="xs:string"/>
    <xs:attribute name="file" type="xs:string"/>
    <xs:attribute name="thumbnail" type="xs:string"/>
  </xs:complexType>

  <xs:complexType name="contactFieldGlobal">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="type" type="xs:string" use="optional"/>
        <xs:attribute name="name" type="xs:string" use="optional"/>
        <xs:attribute name="required" type="xs:string" use="optional"/>
        <xs:attribute name="options" type="xs:string" use="optional"/>
        <xs:attribute name="min" type="xs:byte" use="optional"/>
        <xs:attribute name="max" type="xs:byte" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="linkGlobal">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="url" type="urlGlobal" use="optional"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:complexType name="opinionGlobal">
    <xs:simpleContent>
      <xs:extension base="xs:string">
        <xs:attribute name="author" type="xs:string" use="required"/>
      </xs:extension>
    </xs:simpleContent>
  </xs:complexType>

  <xs:group name="communityGroup">
    <xs:sequence>
      <xs:element name="onlineGroups" type="xs:string"/>
      <xs:element name="collaboration" type="xs:string"/>
    </xs:sequence>
  </xs:group>

  <xs:element name="hobbyProject">
    <xs:complexType>
      <xs:sequence>

        <xs:element name="author" type="authorGlobal"/>
        <xs:element name="title" type="titleGlobal"/>

        <xs:element name="introduction">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="overview">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="paragraph" maxOccurs="unbounded">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="paragraphGlobal">
                            <xs:attribute name="id" type="xs:string" use="optional"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="content">
          <xs:complexType>
            <xs:sequence>

              <xs:element name="definition">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="description">
                      <xs:complexType>
                        <xs:simpleContent>
                          <xs:extension base="shortTextGlobal">
                            <xs:attribute name="id" type="xs:string" use="required"/>
                          </xs:extension>
                        </xs:simpleContent>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="personalArt">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="type">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="programs">
                            <xs:complexType>
                              <xs:sequence>
                                <xs:element name="program" type="programGlobal" maxOccurs="unbounded"/>
                              </xs:sequence>
                            </xs:complexType>
                          </xs:element>
                        </xs:sequence>
                        <xs:attribute name="name" type="xs:string"/>
                        <xs:attribute name="primary" type="xs:string"/>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="community">
                      <xs:complexType>
                        <xs:group ref="communityGroup"/>
                      </xs:complexType>
                    </xs:element>

                    <xs:element name="benefits">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="mentalHealth" type="xs:string"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>

                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="aiArt">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="opinion" type="opinionGlobal"/>
                    <xs:element name="discussion">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="point" type="xs:string" maxOccurs="unbounded"/>
                          <xs:element name="tag" minOccurs="0" maxOccurs="3">
                            <xs:simpleType>
                              <xs:restriction base="xs:string">
                                <xs:enumeration value="AI"/>
                                <xs:enumeration value="Creativity"/>
                                <xs:enumeration value="Accessibility"/>
                              </xs:restriction>
                            </xs:simpleType>
                          </xs:element>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="gallery">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="illustrations">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="image" type="imageGlobal" maxOccurs="unbounded"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                    <xs:element name="animated">
                      <xs:complexType>
                        <xs:sequence>
                          <xs:element name="image" type="imageGlobal" maxOccurs="unbounded"/>
                        </xs:sequence>
                      </xs:complexType>
                    </xs:element>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

            </xs:sequence>
          </xs:complexType>
        </xs:element>

        <xs:element name="end">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="contactForm">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="field" type="contactFieldGlobal" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

              <xs:element name="resources">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element name="link" type="linkGlobal" maxOccurs="unbounded"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>

            </xs:sequence>
          </xs:complexType>
        </xs:element>

      </xs:sequence>

      <xs:attribute name="topic" type="xs:string"/>

    </xs:complexType>
  </xs:element>

</xs:schema>